name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout c贸digo
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    # Generar versi贸n basada en los commits
    - name: Generar versi贸n sem谩ntica
      uses: PaulHatch/semantic-version@v4.0.3
      with:
        major_pattern: "major:"
        minor_pattern: "feat:"
        format: "${major}.${minor}.${patch}-prerelease${increment}"
      id: version

    # Configurar JDK y Maven
    - name: Configurar JDK 11
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '11'

    - name: Construir JAR con Maven
      run: mvn clean package -DskipTests

    # Docker Login
    - name: Docker Login
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USER }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      run: echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin

    # Construcci贸n y push de la imagen con versi贸n
    - name: Construir y subir imagen Docker
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USER }}
        NEW_VERSION: ${{ steps.version.outputs.version }}
        MYSQL_URL: ${{ secrets.MYSQL_URL }}
        MYSQL_USER: ${{ secrets.MYSQL_USER }}
        MYSQL_PASSWORD: ${{ secrets.MYSQL_PASSWORD }}
        JWT_SECRET: ${{ secrets.JWT_SECRET }}
        PORT: ${{ secrets.PORT }}
      run: |
        echo " Construyendo imagen Docker: $DOCKER_USER/user-bank-gha:$NEW_VERSION"
        
        docker build --build-arg MYSQL_URL="$MYSQL_URL" \
                     --build-arg MYSQL_USER="$MYSQL_USER" \
                     --build-arg MYSQL_PASSWORD="$MYSQL_PASSWORD" \
                     --build-arg JWT_SECRET="$JWT_SECRET" \
                     --build-arg PORT="$PORT" \
                     -t "$DOCKER_USER/user-bank-gha:$NEW_VERSION" .

        docker tag "$DOCKER_USER/user-bank-gha:$NEW_VERSION" "$DOCKER_USER/user-bank-gha:latest"

        echo " Subiendo im谩genes a Docker Hub..."
        docker push "$DOCKER_USER/user-bank-gha:$NEW_VERSION"
        docker push "$DOCKER_USER/user-bank-gha:latest"
